altgraph==0.16.1
certifi==2023.7.22
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
future==0.18.2
idna==2.8
lxml==4.4.2
macholib==1.11
pefile==2019.4.18
pycparser==2.19
pycrypto==2.6.1
PyInstaller==3.6
pyOpenSSL==19.1.0
PySocks==1.7.1
pywin32==225
pywin32-ctypes==0.2.0
requests==2.31.0
six==1.14.0
urllib3==1.25.7
win-inet-pton==1.1.0
wincertstore==0.2
